<?xml version="1.0" encoding="utf-8"?>
<State xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Places>
    <Place>
      <Country>Austria</Country>
      <Locality>Vienna</Locality>
      <WoeId>551801</WoeId>
    </Place>
    <Place>
      <Country>Austria</Country>
      <Locality>Auersthal</Locality>
      <WoeId>541172</WoeId>
    </Place>
    <Place>
      <Country>United Kingdom</Country>
      <Locality>London</Locality>
      <WoeId>44418</WoeId>
    </Place>
    <Place>
      <Country>Australia</Country>
      <Locality>Adelaide</Locality>
      <WoeId>1099805</WoeId>
    </Place>
  </Places>
  <CurrentPlace>
    <Country>Austria</Country>
    <Locality>Vienna</Locality>
    <WoeId>551801</WoeId>
  </CurrentPlace>
  <TemperatureUnit>C</TemperatureUnit>
</State>