@model IEnumerable<Spengergasse.WebApp.Models.Bestellungen>

@{
  ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm()) {
  @Html.DropDownList("kunde", null, "Alle Kunden", htmlAttributes: new { @class = "form-control" })
  <input type="date" name="datum" class="form-control" />
  <input type="submit" value="Suchen" class="btn btn-default" />
}

<p>
  @Html.ActionLink("Create New", "Create")
</p>

@Html.Partial("_IndexPartial")
